# Generic
/.idea
/.ddev
/.phpunit.cache
/.psalm.cache

# Docker
docker-compose.yml
docker-compose.*.yml
!docker-compose.dist.yml
/docker/db/data

# Application
public/app/plugins/*
!public/app/plugins/.gitkeep
public/app/themes/*
!public/app/themes/site-default
public/app/mu-plugins/*/
public/app/upgrade
public/app/uploads/*
!public/app/uploads/.gitkeep
/node_modules
public/build

# WordPress
public/wp
public/.htaccess

# Logs
*.log

# Dotenv
.env.*
!.env

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> vimeo/psalm ###
psalm.xml
###< vimeo/psalm ###

###> rectorphp/rector ###
rector.php
###< rectorphp/rector ###